body {
  background-color: #08BAB5;
}
.container {
  width:1260px;
  height:650px;
  display:flex;
  background-color:orange;
  border-radius: 10px;
  margin: 0 auto;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  overflow: auto;

}
.schermatagiocatore {
  width:200px;
  height:300px;
  border:1px solid black;
  border-color: white;
  color:white;
  text-align: center;
}
.visualizzatore {
  margin-top: 10px;
  width:100vw;
  height:100px;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color:white;
  font-family: sans-serif;
  font-size: 20px;
}
